<section id="top">
  <div class="container">
    <div class="row top_1">
      <div class="col-md-3">
        <div class="top_1l pt-1">
          <h3 class="mb-0">
            <a class="text-white" href="{% url 'index' %}"
              ><i class="fa fa-video-camera col_red me-1"></i>
              <span class="col_red">DPT</span> Movie</a
            >
          </h3>
        </div>
      </div>
      <div class="col-md-5">
        <div class="top_1m">
          <div class="input-group">
            <input
              type="text"
              class="form-control bg-black"
              placeholder="Search Site..."
            />
            <span class="input-group-btn">
              <button
                class="btn btn text-white bg_red rounded-0 border-0"
                type="button"
              >
                Search
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="top_1r text-end">
           <a href= "{% url 'signin' %}" class="button" style="height: 36px; padding: 6px 20px; border-radius: 0.1875rem;"  >Sign In</a>
        </div>
       </div>
    </div>
  </div>
</section>

<section id="header">
  <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
    <div class="container">
      <a class="navbar-brand text-white fw-bold" href="{% url 'index' %}"
        ><i class="fa fa-video-camera col_red me-1"></i>
        <span class="col_red">DPT</span> Movie</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about'%}">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Blog
            </a>
            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'blog_detail' %}"
                  >Blog Detail</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
</section>
