{% extends "layout/base-layout.html" %}
{% load static %}

{% block title %}Movie Detail{% endblock %}
{% block content %}

<section id="popular" class="pt-4 pb-5 bg_grey">
  <div class="card-container">
    <div class="card-top">
      <div class="card-top-img">
        <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" />
      </div>
      <div class="card-top-info">
        <h4 class="mb-0"><span class="col_red">{{ movie.title }}</span></h4>
        <h5><span>{{ movie.overview }}</span></h5><br><br><br>
        <h5>Rating:
          <i class="fa fa-star align-middle"></i>
          <i class="fa fa-star align-middle"></i>
          <i class="fa fa-star align-middle"></i>
          <i class="fa fa-star align-middle"></i>
          <i class="fa fa-star align-middle"></i>
        </h5>
        <h5>Duration:<span> {{ movie.movie_duration }}</span></h5>
        <h5>Release Date:<span> {{ movie.release_date }}</span></h5>
        <h5>Genre:<span> Emotional</span></h5>
        <h5>Director:<span> Kirk DeMicco, Chris Sanders</span></h5>
        <h5>Country:<span> United States</span></h5>
      </div>
    </div>
    <div class="card-actor">
      <h5 style="font-size: 30px; margin: 50px 0 20px 0;">Actors</h5>
      <div class="card-actor-info" style="display: flex; justify-content: space-between; text-align: center; margin-bottom: 50px;">
        {% for cast in casts %}
          <div class="card-actor-item">
            {% if cast.profile_path %}
              <img src="https://image.tmdb.org/t/p/w185{{ cast.profile_path }}" style="height: 200px; margin-bottom: 7px; object-fit: cover;"/><br/>
            {% else %}
              <img src="{% static '/img/default-image.jpg' %}" style="height: 200px; width: 133px; margin-bottom: 7px; object-fit: cover;"/><br/>
            {% endif %}
            <span>{{ cast.name }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="trend" class="pt-4 pb-5">
  <div class="container">
    <div class="row trend_1">
      <div class="col-md-6 col-6">
        <div class="trend_1l">
          <h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Related <span
              class="col_red">Movies</span></h4>
        </div>
      </div>
      <div class="col-md-6 col-6">
      </div>
    </div>
    <div class="row trend_2 mt-4">
      <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"
            class="" aria-current="true"></button>
        </div>
        <div class="carousel-inner">
          <!-- Phần 1 -->
          <div class="carousel-item active">
            <div class="trend_2i row">
              {% for movie in first_section %}
              <div class="col-md-3 col-6">
                <div class="trend_2im clearfix position-relative">
                  <div class="trend_2im1 clearfix">
                    <div class="grid">
                      <figure class="effect-jazz mb-0">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" width="416" height="234">
                      </figure>
                    </div>
                  </div>
                  <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
                    <span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
                  </div>
                </div>
                <div class="trend_2ilast bg_grey p-3 clearfix">
                  <h5><a class="col_red" href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h5>
                  <p class="mb-2">{{ movie.overview|slice:":90" }}</p>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- Phần 2 -->
          <div class="carousel-item">
            <div class="trend_2i row">
              {% for movie in second_section %}
              <div class="col-md-3 col-6">
                <div class="trend_2im clearfix position-relative">
                  <div class="trend_2im1 clearfix">
                    <div class="grid">
                      <figure class="effect-jazz mb-0">
                        <img src="{{ movie.poster }}" alt="{{ movie.title }} Poster" width="416" height="234">
                      </figure>
                    </div>
                  </div>
                  <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
                    <span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
                  </div>
                </div>
                <div class="trend_2ilast bg_grey p-3 clearfix">
                  <h5><a class="col_red" href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h5>
                  <p class="mb-2">{{ movie.overview|slice:":90" }}</p>
                  <span class="col_red">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="card-space"></div>
</section>
{% endblock %}