{% extends "layout-admin/base-layout.html" %}
{% load static %}
{% block title %}List Movies{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-12">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Responsive Table</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Overview</th>
                <th>Duration</th>
                <th>Release Date</th>
                <th>Status</th>
                <th>Poster</th>
              </tr>
            </thead>
            <tbody>
              {% for movie in movies %}
              <tr>
                <td>{{ movie.id }}</td>
                <td style="max-width: 150px">{{ movie.title }}</td>
                <td style="max-width: 300px">{{ movie.overview }}</td>
                <td>{{ movie.movie_duration }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.status }}</td>
                <td>
                  <div style="width: 150px">
                    <a href="{{ movie.poster }}" style="word-wrap: break-word"
                      >{{ movie.poster }}</a
                    >
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="pagination">
            <span class="step-links">
              {% if movies.has_previous %}
              <a href="?page={{ movies.previous_page_number }}"
                >&laquo; previous</a
              >
              {% endif %}

              <span class="current-page">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}
              </span>

              {% if movies.has_next %}
              <a href="?page={{ movies.next_page_number }}">next &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}