{% extends "layout-admin/base-layout.html" %}
{% load static %}
{% block title %}List Users{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">                        
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Users in system</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Avatar</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td style="max-width: 150px;">{{ user.username }}</td>
                                <td style="max-width: 150px;">{{ user.email }}</td>
                                <td>
                                    <div style="width: 150px;">
                                        <img src="{{ request.session.user_avatar }}" style="height: 100px;" />
                                    </div>
                                </td>
                                <td>{{ user.role }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if user_list.has_previous %}
                            <a href="?page={{ user_list.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                >&laquo; previous</a
                            >
                            {% endif %}
                    
                            <span class="current-page">
                                Page {{ user_list.number }} of {{ user_list.paginator.num_pages }}
                            </span>
                    
                            {% if user_list.has_next %}
                            <a href="?page={{ user_list.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next &raquo;</a>
                            {% endif %}
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}