{% extends "layout-admin/base-layout.html" %}
{% load static %}
{% block title %}List Users{% endblock %}
{% block content %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">                        
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="table-responsive">
                    <table id="example" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Avatar</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td style="max-width: 150px;">{{ user.username }}</td>
                                <td style="max-width: 150px;">{{ user.email }}</td>
                                <td>
                                    <div style="width: 150px;">
                                        <img src="{{ request.session.user_avatar }}" style="height: 100px;" />
                                    </div>
                                </td>
                                <td>{{ user.role }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $('#example').DataTable(
      {     
      "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
      "iDisplayLength": 5
      } 
    );
} );

function checkAll(bx) {
  var cbs = document.getElementsByTagName('input');
  for(var i=0; i < cbs.length; i++) {
    if(cbs[i].type == 'checkbox') {
      cbs[i].checked = bx.checked;
    }
  }
}
</script>
{% endblock %}